body {
    padding: 50px;
    font-family: "Garamond", "EB Garamond", serif; /* Use local Garamond or fallback to EB Garamond */
    color: #2d2d2d;
    font-weight: 300;
}
.layout {
  display: flex;
}

.header {
  background-color: #f0f0f0;
  padding: 20px;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.content {
  margin-left: 280px; /* Width of the header + spacing */
  display: flex;
  gap: 20px;
  padding: 20px;
  width: calc(100% - 280px); /* Account for the header width */
}

.stream {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
}

.stream h2 {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;  /* Increased space between streams */
  margin: 0 auto;
}
